<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
</head>
<body>
<footer>
    <div class="footer-content">
        <ul class="footer-links-secondary">
            <li><a th:href="@{/about}">À propos</a></li>
            <li><a th:href="@{/help}">Aide</a></li>
            <li><a th:href="@{/cookies}">Cookies</a></li>
        </ul>
        <p class="copyright">My PlanetFoot © 2025</p>
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Déconnexion</button>
        </form>

    </div>
</footer>
</body>
</html>